{% extends 'base.html.twig' %}

{% block title %}New DataToProceed{% endblock %}

{% block body %}
    <h1>Create new DataToProceed</h1>

    {{ include('data_to_proceed/_form.html.twig') }}

    <a href="{{ path('data_to_proceed_index') }}">back to list</a>
{% endblock %}
